body {
  background-size: cover;
  background-position: center;

  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Assure que la section prend toute la hauteur de la fenêtre */

  margin-left: 200px}
h4,hr{
  color: black;
}
.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 400px; /* Fixe une largeur spécifique pour le formulaire */
  max-width: 90%; /* Assure que le formulaire ne dépasse pas 90% de la largeur de la fenêtre */
  filter: blur(0);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1001;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajoute un effet de flou derrière le formulaire */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px; /* Fixe une largeur spécifique pour le contenu modal */
  max-width: 90%; /* Assure que le contenu modal ne dépasse pas 90% de la largeur de la fenêtre */
  z-index: 1001;
}
