<p-dialog [(visible)]="isAddEmployeeModalOpen" [modal]="true" [style]="{ width: '60vw' }" [draggable]="false"
          [resizable]="false">
  <form #employeeForm="ngForm">
    <div class="p-2 bg-white rounded">
      <h5>Détails de l'employé</h5>
      <hr>
      <br>

      <!-- Première ligne : Nom et Prénom -->
      <div class="row mb-3">
        <div class="col">
          <label for="firstName" class="form-label">Prénom</label>
          <input type="text" [(ngModel)]="user.firstName" name="firstName" class="form-control" id="firstName"
                 placeholder="Prénom" required #firstNameInput="ngModel">
          <div *ngIf="firstNameInput.invalid && firstNameInput.touched">
            <small class="text-danger">Le prénom est requis</small>
          </div>
        </div>
        <div class="col">
          <label for="lastName" class="form-label">Nom</label>
          <input type="text" [(ngModel)]="user.lastName" name="lastName" class="form-control" id="lastName"
                 placeholder="Nom" required #lastNameInput="ngModel">
          <div *ngIf="lastNameInput.invalid && lastNameInput.touched">
            <small class="text-danger">Le nom est requis</small>
          </div>
        </div>
      </div>

      <!-- Deuxième ligne : Équipe et Gmail -->
      <div class="row mb-3">
        <div class="col">
          <label for="team" class="form-label">Équipe</label>
          <input type="text" [(ngModel)]="user.team" name="team" class="form-control" id="team" placeholder="Équipe"
                 required #teamInput="ngModel">
          <div *ngIf="teamInput.invalid && teamInput.touched">
            <small class="text-danger">L'équipe est requise</small>
          </div>
        </div>

        <div class="col">
          <label for="email" class="form-label">Gmail</label>
          <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="email" placeholder="Gmail"
                 (input)="addEmailDomain()" required #emailInput="ngModel">
          <div *ngIf="emailInput.invalid && emailInput.touched">
            <small class="text-danger">L'adresse e-mail est requise et doit être valide</small>
          </div>
          <div *ngIf="emailInvalid">
            <small class="text-danger">L'adresse e-mail doit se terminer par @indatacore.com</small>
          </div>
        </div>
      </div>

      <!-- Statut -->
      <div class="mb-3">
        <label for="status" class="form-label">Statut</label>
        <select [(ngModel)]="user.status" name="status" class="form-select" id="status" required #statusInput="ngModel">
          <option value="conge">En congé</option>
          <option value="teletravail">Télétravail</option>
          <option value="site">Sur site</option>
        </select>
        <div *ngIf="statusInput.invalid && statusInput.touched">
          <small class="text-danger">Le statut est requis</small>
        </div>
      </div>

      <!-- Troisième ligne : Dates -->
      <div class="row mb-3">
        <div class="col">
          <label for="startDate" class="form-label">Date début</label>
          <input type="date" [(ngModel)]="user.startDate" name="startDate" class="form-control" id="startDate" required
                 #startDateInput="ngModel">
          <div *ngIf="startDateInput.invalid && startDateInput.touched">
            <small class="text-danger">La date de début est requise</small>
          </div>
        </div>
        <div class="col">
          <label for="endDate" class="form-label">Date fin</label>
          <input type="date" [(ngModel)]="user.endDate" name="endDate" class="form-control" id="endDate" required
                 #endDateInput="ngModel">
          <div *ngIf="endDateInput.invalid && endDateInput.touched">
            <small class="text-danger">La date de fin est requise</small>
          </div>
        </div>
      </div>

      <!-- Boutons -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button (click)="cancel()" class="btn btn-outline-secondary">Annuler</button>
        <button type="submit" (click)="onSubmit()" [disabled]="!employeeForm.valid" class="btn btn-info">Enregistrer
        </button>
      </div>
    </div>
  </form>
</p-dialog>
