<p-dialog [(visible)]="showStatusDialog" [modal]="true" [style]="{ width: '60vw' }"
          [draggable]="false"
          [resizable]="false">

  <div class=" p-2 bg-white rounded ">
    <h5>Statut</h5>
    <hr>
    <br>


    <!-- Statut -->
    <div class="mb-3">
      <label for="status" class="form-label">Statut</label>
      <select [(ngModel)]="user.status" name="status" class="form-select" id="status" required>
        <option value="conge">En congé</option>
        <option value="teletravail">Télétravail</option>
        <option value="site">Sur site</option>
      </select>
    </div>


    <!-- Troisième ligne : Dates -->
    <div class="row mb-3">
      <div class="col">
        <label for="startDate" class="form-label">Date début</label>
        <input type="date" [(ngModel)]="user.startDate" name="startDate" class="form-control" id="startDate" required>
      </div>
      <div class="col">
        <label for="endDate" class="form-label">Date fin</label>
        <input type="date" [(ngModel)]="user.endDate" name="endDate" class="form-control" id="endDate" required>
      </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button (click)="cancel()" type="reset" data-bs-dismiss="modal" class="btn btn-outline-secondary">Annuler</button>
      <button (click)="onSubmit()" type="submit" class="btn btn-info">Enregistrer</button>
      <!-- Ensure this is enabled -->
    </div>
  </div>


</p-dialog>
