<div class="dashboard-content">
  <!-- Status Section -->
  <section class="statut">
    <div class="photo-section">
      <div class="photo-item">
        <div class="photo-text">Sur site</div>
        <img src="/assets/images/Group 10.svg" width="70px" alt="Sur site">
        <p class="pos">{{ surSite }}</p>
      </div>
      <div class="photo-item">
        <div class="photo-text">En congé</div>
        <img src="/assets/images/Group 10 (1).svg" width="70px" alt="En congé">
        <p class="pos">{{ enConge }}</p>
      </div>
      <div class="photo-item phg">
        <div class="photo-text">Télétravail</div>
        <img src="/assets/images/Group 10 (2).svg" width="70px" alt="Télétravail">
        <p class="pos">{{ teleTravail }}</p>
      </div>
    </div>
  </section>


  <!-- Header Message -->
  <header class="header-message">
    <h3 class="mb-3">Bonjour Loubna 👋🏼</h3>
  </header>

  <!-- Main Content with Table -->
  <main class="tableau">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class=" width-full d-flex flex-row align-items-center justify-content-between ">
        <!-- Title -->
        <a class="navbar-brand">Tous les employés</a>

        <!-- Search Input -->
        <div class="d-flex flex-row gap-2">

          <div>
            <input [(ngModel)]="search" (ngModelChange)="findByFirstNameAndLastName()" class="form-control me-2"
                   name="search" id="search" type="search" placeholder="Search" aria-label="Search">
          </div>

          <button (click)="changeMonStatus()"
                  class="form-control btt btn btn-primary">
            Mon status
          </button>

        </div>

      </div>
    </nav>


    <!-- Employee Table -->
    <table class="table">
      <thead>
      <tr class="color">
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Équipe</th>
        <th scope="col">Email</th>
        <th scope="col">Statut</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of users | paginate: { itemsPerPage: 5, currentPage: currentPage }">
        <td>{{ item?.lastName }}</td>
        <td>{{ item?.firstName }}</td>
        <td>{{ item?.team }}</td>
        <td>{{ item?.email }}</td>
        <td>
          <span *ngIf="item?.status==='conge'" class="badge oo bg-danger">Congé</span>
          <span *ngIf="item?.status==='teletravail'" class="badge bg-warning text-dark">Télétravail</span>
          <span *ngIf="item?.status==='site'" class="badge oo bg-success">Sur site</span>
        </td>
      </tr>
      </tbody>
    </table>


    <div class="pagination-container">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </main>

</div>
<app-userstatut></app-userstatut>
