


.all {
  background-image: url("/assets/images/Group 47443.svg");
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
position: fixed;
}

.po {
  text-align: left;
  margin: 0.5em 0;
}

.logo-placeholder {
  width: 200px; /* Ajustez la taille selon vos besoins */
  height: auto;
}

.droite {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px; /* ou utilisez une valeur fixe comme 200px */
  height: 200px; /* ou utilisez une valeur fixe comme 150px */
}

.gauche {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px; /* ou utilisez une valeur fixe comme 200px */
  height: 200px; /* ou utilisez une valeur fixe comme 150px */
}

.login {
  background-image: url("/assets/images/Rectangle 3322.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

}

.img-btn {
  margin-right: 0.5rem; /* marge droite de l'image pour l'espace entre l'image et l'input */
  width: 1.5rem; /* largeur de l'image */
  height: 1.5rem; /* hauteur de l'image */
}

/* Style pour l'input */
input {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 100%; /* Prend toute la largeur restante */
  padding: 0.5rem; /* padding intérieur de l'input */
  color: #1f2937; /* couleur du texte */
  font-size: medium;
  font-size: 1rem; /* taille de la police */
}

.btn {
  width: 100%;
  border-radius: 10px;
}

input::placeholder {
  color: #9ca3af;
  font-size: medium/* couleur du texte de l'espace réservé */
}

input:focus {
  border-color: #3b82f6; /* couleur de la bordure quand l'input est focalisé */
  box-shadow: 0 0 0 1px #3b82f6; /* ombre autour de l'input quand il est focalisé */
}

.containt {
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  border: 1px solid #d1d5db;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  height: 3rem;
  box-shadow: 0 0 0 1px rgba(209, 213, 219, 0.5);
  background-color: #ffffff;
}

.btn-transparent {
  text-align: center;
  background-color: transparent;
  border: none;
  color: #007BFF;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.btn-transparent:hover {
  text-decoration: underline;
}

.w-full {
  font-family: "Poppins", sans-serif;
  font-size: small;
  margin-left: 15px;
  color: gray;
  background-color: rgb(248, 248, 248);
  border: transparent;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .login {
    width: auto;
    max-width: none;
    height: auto;
  }

  .droite {
    width: 10px;
    height: 10px;
  }

  .gauche {
    width: 10px;
    height: 10px;
  }
}
