body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  margin: 0;

  position: fixed;
}
button{
  font-family: 'Poppins', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, span{

  font-family: 'Poppins', sans-serif;
}

.aa{
  text-decoration: none;
  color: gray;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: white;
  background-image: url('/assets/images/Rectangle 30.svg');
  padding-top: 20px;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.below-sidebar {
  width: 20%;
  bottom: 20px;
  left: 0;
  position: fixed;
}
.btn {
  align-items: center;
  width: 80%;
  height: 30px;
  padding: 10px;
  border-radius: 8px 0 0 0;
  opacity: 1;
  display: flex;

  left: 10px;
}
.btn:hover {
  background-color: rgb(93, 178, 242);


}
.btn-logo {
  margin-right: 10px;
}
.im {
  width: 100px;
  display: block;
  margin: 0 auto;
  opacity: 1;
}
.admin-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-right: 10px;

  width: 80%;
  height: 60px;
  text-align: left;
}

.admin-button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.admin-button .admin-info {
  flex: 1;
  cursor: pointer;
}

.admin-button .admin-info h5 {
  margin: 0;
  font-size: 13px;
  font-weight: bold;

  color: #343a40;
}

.admin-button .admin-info p {
  margin: 0;
  font-size: 10px;
  color: #6c757d;
}

.admin-button .status {
  font-size: 12px;
  color: #28a745;
}

.w-full{
  font-family: "Poppins", sans-serif;
  font-size: small;
  margin-left: 15px;
  color: gray;
  background-color:  rgb(248, 248, 248);;
  border:transparent;
  border-radius: 7px;
}
.im {
  width: 100px;
  display: block;
  margin: 0 auto;
  opacity: 1;
}
.dropdown{
  display: flex;
  height : auto;
  box-shadow: 0 0 0 1px rgba(209, 213, 219, 0.5);
  background-color: rgb(241, 241, 241);
  color: black;

}
.btn-logo {
  margin-right: 10px;
}
