<div class="dashboard-content">
  <!-- Status Section -->
  <section class="statut">
    <div class="photo-section">
      <div class="photo-item">
        <div class="photo-text">Sur site</div>
        <img src="/assets/images/Group 10.svg" width="70px" alt="Sur site">
        <p class="pos">{{ surSite }}</p>
      </div>
      <div class="photo-item">
        <div class="photo-text">En congé</div>
        <img src="/assets/images/Group 10 (1).svg" width="70px" alt="En congé">
        <p class="pos">{{ enConge }}</p>
      </div>
      <div class="photo-item phg">
        <div class="photo-text">Télétravail</div>
        <img src="/assets/images/Group 10 (2).svg" width="70px" alt="Télétravail">
        <p class="pos">{{ teleTravail }}</p>
      </div>
    </div>
  </section>


  <!-- Header Message -->
  <header class="header-message">
    <h3 class="mb-3">Bonjour Loubna 👋🏼</h3>
  </header>

  <!-- Main Content with Table -->
  <div class="tableau">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <!-- Title -->
        <a class="navbar-brand">Tous les employés</a>

        <!-- Search Input -->
        <div class="search filtrer">
          <input [(ngModel)]="search" (ngModelChange)="findByFirstNameAndLastName()" class="form-control"
                 name="search" id="search" type="search" placeholder="Search" aria-label="Search">
        </div>

        <!-- Date Picker-->
        <div class="filtrerdate" >
          <p-calendar   [(ngModel)]="date" placeholder="filter by date" class="filtrerdate" (ngModelChange)="filterByDate()"
                      name="date"></p-calendar>
        </div>

        <!-- Status Dropdown -->
        <div class="filtrer" >
          <select [(ngModel)]="status" (ngModelChange)="filterByStatus()" name="status" class="form-select form-control"
                  id="status" required>
            <option [value]="''" selected>All</option>
            <option value="conge">En congé</option>
            <option value="teletravail">Télétravail</option>
            <option value="site">Sur site</option>
          </select>
        </div>

              <!-- <div class="container w-full mb-3 dropdown">
                 <label class="custom-date"></label>
                 <input [(ngModel)]="date" type="date" class=" form-control me-2">
               </div>-->

        <button class="container ss w-full mb-3 " (click)="openAddEmployeeModal()"
                class="form-control btt btn btn-primary">
          Ajoutez un employé +
        </button>

        <!-- Lien redirigeant vers la page 'addemploye' -->
        <a id="aa" routerLink="/addemploye"></a>

        <!-- Modal d'ajout d'employé qui s'affiche en dehors du bouton -->
      </div>
    </nav>


    <!-- Tableau des employés -->
    <table class="table">
      <thead>
      <tr class="color">
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Équipe</th>
        <th scope="col">Email</th>
        <th scope="col">Statut</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <!-- Utilisation de la pagination sur le tableau -->
      <tr *ngFor="let item of users | paginate: { itemsPerPage: 5, currentPage: currentPage }">
        <td>{{ item?.lastName }}</td>
        <td>{{ item?.firstName }}</td>
        <td>{{ item?.team }}</td>
        <td>{{ item?.email }}</td>
        <td>
          <span *ngIf="item?.status === 'conge'" class="badge oo bg-danger">Congé</span>
          <span *ngIf="item?.status === 'teletravail'" class="badge bg-warning text-dark">Télétravail</span>
          <span *ngIf="item?.status === 'site'" class="badge oo bg-success">Sur site</span>
        </td>
        <td>
          <button (click)="editUser(item)" class="btn btn-sm ">
            <i style="color : cornflowerblue" class="fas fa-edit"></i>

          </button>


          <button (click)="deleteUser(item)" class="btn btn-sm ">
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Pagination en dessous du tableau -->
    <div class="pagination-container">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>


<app-addemploye></app-addemploye>
