<header class="header-message">
  <h3>Bonjour Loubna 👋🏼</h3>
</header>


<!-- Main Content with Table -->
<main class="tableau">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <!-- Title -->
      <a class="navbar-brand">Les Utilisateurs</a>


      <!-- Search Input -->
      <div class="container w-full mb-3">
        <input [(ngModel)]="search" (ngModelChange)="findByFirstNameAndLastName()" class="form-control"
               name="search" id="search" style="color:black" type="search" placeholder="Search" aria-label="Search">
      </div>

      <!-- Role Dropdown -->
      <div class="container w-full mb-3">
        <label for="role" class="form-label"></label>
        <select [(ngModel)]="role" (ngModelChange)="filterByRole()" name="role" class="form-select se form-control"
                id="role" required>
          <option [value]="''" [selected]="true">All</option>
          <option value="ADMIN">Admin</option>
          <option value="USER">User</option>
        </select>
      </div>


      <!-- Add Employee Button -->
      <button class="container w-full mb-3 form-control hv btn btn-primary" style="background-color: #3b82f6;padding: 9px ; color:white ; font-size :14px" (click)="openAddEmployeeModal()">
        Ajoutez un utilisateur +

      </button>

      <!-- Lien redirigeant vers la page 'addemploye' -->
      <a id="aa" routerLink="/addemploye"></a>

      <!-- Modal d'ajout d'employé qui s'affiche en dehors du bouton -->

    </div>
  </nav>

  <!-- Tableau des employés -->
  <table class="table">
    <thead>
    <tr class="color">
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Équipe</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>


    <!-- Utilisation de la pagination sur le tableau -->
    <tr *ngFor="let item of users | paginate: { itemsPerPage: 8, currentPage: currentPage }">
      <td>{{ item?.lastName }}</td>
      <td>{{ item?.firstName }}</td>
      <td>{{ item?.team }}</td>
      <td>{{ item?.email }}</td>
      <td>


          <select [(ngModel)]="item.role" (ngModelChange)="updateRole(item)" name="role" class="form-select ww" id="role">
            <option value="ADMIN" class="badge  bg-success">Admin</option>
            <option value="USER" class="badge bg-warning text-dark">User</option>
          </select>


      </td>
      <td>
        <button (click)="deleteUser(item)" class="btn btn-sm ">
          <i class="fa-regular fa-trash-can"></i>
        </button>

    </tr>
    </tbody>
  </table>


  <div class="pagination-container">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</main>


